<div th:fragment="editCGPage">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Forms</h1>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-edit"></i> Forms</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-6">
			<form th:object="${cgPage}" th:action="@{~/editCGPage}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label for="contextName"> Enter Context Name</label> <input
						th:field="*{contextName}" type="text" class="form-control"
						id="contextName" placeholder="Enter Context Name"
						required="required" />
				</div>

				<div class="form-group">
					<label for="cgImageUrl"> Enter CG Image URL</label> <input
						th:field="*{cgImageUrl}" type="text" class="form-control"
						id="cgImageUrl" placeholder="Enter CG Image URL"/>
				</div>

				<div class="form-group">
					<label for="cgImageFile"> Upload CG Image</label> <input
						th:field="*{cgImageFile}" type="file" class="form-control"
						id="cgImageFile" placeholder="Upload CG Image" />
				</div>

				<div class="form-group">
					<label for="smsShortCode"> Enter SMS Short Code</label> <input
						th:field="*{smsShortCode}" type="text" class="form-control"
						id="smsShortCode" placeholder="Enter SMS Short Code"
						required="required" />
				</div>

				<div class="form-group">
					<label for="smsBody"> SMS Body</label>
					<textarea th:field="*{smsBody}" name="smsBody" id="smsBody"
						class="form-control" rows="4" cols="25" required="required"
						placeholder="SMS Body"></textarea>
				</div>

				<div class="form-group">
					<label for="cgText"> CG Text</label>
					<textarea th:field="*{cgText}" name="cgText" id="cgText"
						class="form-control" rows="9" cols="25" required="required"
						placeholder="CG text"></textarea>
				</div>
				<div align="center">
					<button type="submit" class="btn btn-primary" id="submit">Save</button>
				</div>
			</form>
		</div>