
<!-- FOOTER -->
      <footer th:fragment="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Vuclip India Pvt. Ltd.© 2016 Company, Inc. · <a href="http://getbootstrap.com/examples/carousel/#">Privacy</a> · <a href="http://getbootstrap.com/examples/carousel/#">Terms</a></p>
      </footer>
