
<div th:fragment="showAllCGPages">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Tables</h1>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i> <a href="index.html">Dashboard</a>
				</li>
				<li class="active"><i class="fa fa-table"></i> Tables</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<h2>Bordered Table</h2>
			<div class="table-responsive">
				<table id="example" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>id</th>
							<th>contextName</th>
							<th>cgImageUrl</th>
							<th>cgText</th>
							<th>smsShortCode</th>
							<th>smsBody</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cgPage : ${cgPages}">
							<td th:text="${cgPage.id}"></td>
							<td th:text="${cgPage.contextName}"></td>
							<td th:text="${cgPage.cgImageUrl}"></td>
							<td th:text="${cgPage.cgText}"></td>
							<td th:text="${cgPage.smsShortCode}"></td>
							<td th:text="${cgPage.smsBody}"></td>
							<td><a th:href="@{~/editCGPage/{id}(id=${cgPage.id})}"
								class="btn btn-success">Edit</a></td>
							<td><a th:href="@{~/deleteCGPage/{id}(id=${cgPage.id})}"
								class="btn btn-danger">Delete</a></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th>id</th>
							<th>contextName</th>
							<th>cgImageUrl</th>
							<th>cgText</th>
							<th>smsShortCode</th>
							<th>smsBody</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->