<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CG Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Cache-Control" content="max-age=86400, public">
<meta http-equiv="Expires" content="30">
<style>

/*
non-essential styles:
just for appearance; change whatever you want
*/
.custom-slide {
	/*font-size: 40px;*/
	box-sizing: border-box;
	background: #fff;
	color: #fff;
}

.custom-slide a img {
	width: 100%
}

.custom-carousel-indicators {
	position: absolute;
	bottom: 2px;
	left: 50%;
	z-index: 15;
	width: 60%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}

.custom-carousel-indicators li {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 2px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #e2e1e1;
	border: 1px solid #e2e1e1;
	border-radius: 1em;
}

.custom-carousel-indicators li.white {
	display: inline-block;
	width: 0.5em;
	height: 0.5em;
	margin: 2px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #4a4a4a !important;
	border: 1px solid #4a4a4a;
	border-radius: 1em;
}
</style>
</head>

<body>
	<div class="row">
		<style>
body {
	background-color: black;
	color: #fff;
	font-size: 10px;
	font-family: "Verdana", Geneva, sans-serif;
}

.custom_image {
	width: 100%;
}

.textCenter {
	text-align: center;
}

.textRight {
	float: right;
}

.subbutton {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #548235 0%, #548235 100%) repeat scroll 0 0;
	border-radius: 5px;
	color: #ffffff;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 0.3px;
	margin-top: 11px; //
	height: 25px;
	text-transform: uppercase;
	vertical-align: middle;
	padding: 5px 10px;
}
</style>

		<div class="row">
			<!-- <div style="width: 100%; height: 5px;">
				<a
					href="http://gamescentreae.com/store/?mod=sms&amp;lang=ar&amp;prgid=1&amp;d=25&amp;pid=1&amp;dirtcid=255&amp;pp=1&amp;tid=95000416&amp;src=D_CRD_EGCCuttheropeNormalflow_vlm"
					style="color: white;"><p class="textRight"
						style="margin: 0px 10px;">عربى</p></a>
			</div>
			<div>
				<p class="textCenter">Free for 1 day then AED 2 per day</p>
			</div> -->
			<div>
				<div>
					<div style="line-height: 0.5">
						<img  th:src="@{'~/'+${cgPage.cgImageUrl}}" class="custom_image">
					</div>
				</div>
				<div class="custom_header textCenter">
					<a
						href="http://gamescentreae.com/store/?mod=sms&amp;&amp;d=25&amp;src=D_CRD_EGCCuttheropeNormalflow_vlm&amp;pp=1&amp;pid=2&amp;dirtcid=255&amp;pkg=2AED/Daily&amp;gtid=w5KU7JNT0VLNLL161NNVDUCU&amp;src=D_CRD_EGCCuttheropeNormalflow_vlm&amp;tid=95000416&amp;lang=en&amp;pid=1#">
						<span class="custom_logo"><img
							src="store_files/header_logo.png" width="120px;"></span>
					</a>
				</div>
				<div class="bottm">

					<center style="margin-top: 0px; font-weight: bold;">
						<span style="color: #fff; font-size: 14px">Vuclip Videos Store</span>
					</center>
					<center style="font-weight: bold; padding-top: 10px;">
						<span>To subscribe and enjoy unlimited videos click on the
							below button and then send the SMS</span>
					</center>
					<div class="main">
						<div id="gallery-white" class="textCenter" style="">
							<a th:href="${cgPage.smsHeader}"><div class="subbutton">SUBSCRIBE</div></a>
						</div>
					</div>
					<div>
						<p class="textCenter">Free for 1 day then AED 2 per day</p>
					</div>

					<div class="description" style="margin-top: 30px">
						<div style="color: #fff; position: relative; top: -2%;">
							<div style="height: 40px;">
								<div class="center" style="font-size: 12px; font-weight: bold;">
									By clicking on subscribe, you agree to the below terms and
									conditions</div>
							</div>
							<table class="subscriptiontable">
								<tbody  th:each="cgText : ${cgPage.cgTexts}">

									<tr>
										<td style="vertical-align: top;">-</td>
										<td style="font-size: 10px; text-align: left" th:text="${cgText}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 footerMain" style="height: 10vh;">
				<br>
				<div class="footerContainer">
								<div th:replace="fragments/footer :: footer" />
				</div>