/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
body{
    background-color: #ddd;
}
.headerMain {
    width: 100%;
    height: 50pt;
    background-color: rgb(113,158,25);
    color: #FFFFFF !important;
    font-size: 16px;

}
.main_title
{
    width:100%;
    height:100%;
    color:#ffffff;
}
.footerMain {
    width: 100%;
    height: 20vh;
    background-color: #272727;
}
.footerContainer,.copyright{
    width:100%;
    text-align:center;
    color:#666666;
    font-size:12px; 
}

.feedback{
    float:left;
    width:33%;   
}
.terms{
    display: inline-block;
    margin:0 auto;
    width:33%; 
}
.faq{
    float:right;
    width:33%;  
}


.carousel_title{ width:100%; vertical-align: middle; font-weight: bold; color:#303030; }
.carousel_rating{ width:100%;vertical-align: middle; }
.carousel_download{ width:100%; vertical-align: middle; margin-top:5px;} 
.carousel_title span,.carousel_rating span
{
    margin-left:10px; 
}
.carousel_download_left{ float:left;  font-size: 10px; color:#7B7B7B; margin-left:10px;}
.carousel_download_right{float:right; margin-right:10px; }

.carousel_download_right img{ width:11px !important; height:26px !important;}

/*//----scroll horizonatal*/

#container_scroll {
    height: 100%;
    overflow-y: auto;
    background: white;
}

#line1 {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 12px;
}
.mainCat{

    margin-left: 10px;
    margin-right: 10px;
}
.cat_img{
    margin:10px; 

}



.categoriesContent{
    background-color:white !important;
    width:100%;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    margin-top: 10px;
}
.row{
    margin-bottom: inherit !important;
}

.categoriesContent1{
    background-color:white !important;
    width:100%;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    margin-top: 30px;
    padding-bottom:5px; 
}

.smallerDivs {
    height: 100%px;
    width: 124px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.2);

}
.btn_tags
{
    border-radius: 20px !important;
    background-color:rgb(126,211,33); 
    color:#FFFFFF !important;
    border-color: #ABE281 !important;
    height:30px !important;
    letter-spacing: 0px !important;
    text-transform: inherit;
    width:100% !important;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px !important;
    text-align: left !important;
    padding-left: 17px;
}
.btn_tags:hover{
    background-color: rgb(126,211,33);
    text-transform: inherit;
    text-align: center;


    height: 30px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 13px !important;
    text-align: left !important;
    padding-left: 17px;
}
.btn_viewall{
    border-radius: 20px !important;
    border:1px solid rgb(126,211,33) !important;	
    background-color:#FFFFFF; 
    color:rgb(126,211,33) !important;
    border-color: rgb(126,211,33) !important;
    height:30px !important;
    font-size: 14px !important;
    text-transform: inherit;
    font-weight: bold; 
    margin-right: 5px; 
    line-height: 30px;
    display: inline-block; 
    vertical-align: middle;
    padding: 0 1rem !important;
    margin-right: -5px;
    margin-top: -4px;
}
.btn_viewall:hover{
    border:1px solid rgb(126,211,33) !important;	
    border-radius: 20px !important;
    background-color:#FFFFFF; 
    color:rgb(126,211,33) !important;
    height:30px !important;
    border-color: rgb(126,211,33) !important;
    font-size: 14px !important;
    text-transform: inherit;
    font-weight: bold;
    margin-right: 5px; 
    line-height: 30px;  
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem !important;
    margin-right: -5px;
    margin-top: -4px;
}
.row .col .circle{ padding:36% 0}
.circle {
    width: 96%;
    padding: 50% 0;
    /* Just making it pretty */
    background: #38a9e4;
    margin-top:7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.headerMain ul li:hover{
    background-color: transparent; 
}
.adds {
    color: white;  
    height:160px; 
}
.carousel_title{ width:100%; vertical-align: middle; font-weight: bold; color:#303030; }
.carousel_rating{ width:100%;vertical-align: middle; }
.carousel_download{ width:100%; vertical-align: middle; margin-top:0px !important;} 
.carousel_title span,.carousel_rating span
{
    margin-left:10px; 
}
.carousel_download_left{ float:left;  font-size: 10px; color:#7B7B7B; margin-left:10px;margin-top: 4px !important;}
.carousel_download_right{float:right; margin-right:10px; }

.carousel_download_right img{ width:11px !important; height:26px !important;}
.slider{
    height:170px !important;
    background-color: rgb(250,250,250);
}
.slides_slide,.slides_slide ul,.slides_slide li{
    height:150px !important;
}
.slides_slide1,.slides_slide1 ul,.slides_slide1 li{
    height:150px !important;
    background-color:white;
}
.slider ul.slides.slides_slide1 li img{
    /*margin-left:10px !important;*/ 
    /*margin-right:10px !important;*/ 
    /*margin-top:10px !important;*/
    width:97% !important;
    margin:10px 5px !important;
    /*height:150px !important;*/
}
.indicators{
    size: 10px;
    width:100% !important;

}
.slider .indicators .indicator-item{
    height:5px !important;
    width:5px !important;
    margin:0 3px !important;
    background-color: rgb(204,204,204) !important;
}

.slider .slides li .caption {
    color: #ffffff;
    left: 4%;
    opacity: 0;
    position: absolute;
    top: 60%;
    width: 70%;
}

.slider .indicators .active{
    background-color: rgb(74,74,74) !important;
}
/*.side-nav .userView .circle, .side-nav .userView .name, .side-nav .userView .email{
            display: inline-block;
        }*/

nav .nav-wrapper i {
    display: inline;
    vertical-align: middle;
}
/*
//-- side Nav bar effect
.side-nav li 
{
    line-height: 0px !important;
}

.side-nav li a
{
    line-height: 0px !important;
}
*/
.carousel_title{ width:100%; vertical-align: middle; font-weight: bold; color:#303030; }
.carousel_rating{ width:100%;vertical-align: middle; }
.carousel_download{ width:100%; vertical-align: middle; margin-top:5px;} 
.carousel_title span,.carousel_rating span
{
    margin-left:10px; 
}
.carousel_download_left{ float:left;  font-size: 10px; color:#7B7B7B; margin-left:10px;}
.carousel_download_right{float:right; margin-right:10px; }

.carousel_download_right img{ width:11px !important; height:26px !important;}


#carousel.carousel.carousel-slider.in.initialized ul.indicators li.indicator-item.active{
    background-color:black !important;
    background-color: rgb(74,74,74) !important;
    width:5px !important;
    height: 5px !important;
    margin: 5px 3px !important;

}

#carousel.carousel.carousel-slider.in.initialized ul.indicators li.indicator-item{
    background-color:red !important;
    background-color: rgb(204,204,204) !important;
    width:5px !important;
    height: 5px !important;
    margin: 5px 3px !important;

}
#carousel.carousel.carousel-slider.in.initialized ul.indicators{
    top:212px !important; 
    height:10px !important;

}

.carousel .carousel-item img {
    height:150px;
}

.main_curl{
    padding: 0 0 !important;
 //   height:200px;
}

.main_curl2{
    padding: 0 0 !important;
 //   height:200px;
}

.card{
    box-shadow: inherit !important;
}
.addsContainer
{
    margin-top:10px; margin-left:10px;margin-right:10px;
}
.adds_homepage {
    color: white !important; 
    height:100px; 
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    padding-top:30px !important; font-size: 12px !important; 
}
.tags_homepage_main
{
    background-color:white !important;
    width:100%;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    margin-top: 10px;
}
.tags_homepage_sub
{
    font-size: 16px; padding-left: 12px; 
}
.tags_homepage_btn{
    padding-bottom: 10px !important; 
    width:100%;
}
.carousel_homepage{
    height:230px !important;
}
.hscroll_img{
/*   height:112px !important;*/ width:100% !important;
}
.text_wrap_main { 
    width: 80%;  
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

/*//-- veer css*/
.wifihead{font-size:16px;font-weight: bold;}
.wifitext{font-size: 12px;margin:10px 0;padding:0 40px;}
.wifitext2{font-size: 14px;margin:10px 0;padding:0 30px;}
.wificircle{margin:20px 0;}
.wifi-img-circle{width: 30%;border-radius: 50%;}
.wifiphonetext{font-size: 14px;padding:0 50px;}
.wifiphonetext2{font-size: 12px;padding:0 30px;}
.wifiinput{padding: 40px;}
div.wifiinput input.col.s10{height:24px;}

.wifi_btn
{
    border-radius: 20px !important;
    background-color:rgb(126,211,33); 
    color:#FFFFFF !important;
    height:40px !important;
    font-size: 14px !important;
    letter-spacing: 0px !important;
    border: inherit;
    width: 300px;
    font-weight: bold;
}
.wifi_btn:hover{
    background-color: rgb(126,211,33);
    text-transform: inherit;
    text-align: center;
    font-size: 14px !important;
}



.download_text{
    padding: 20px !important;
    font-size: 12px;
}


.downcircle {
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

div.downcircle i.large.material-icons{
    position: absolute !important;
    top: 185px !important;
    right: 10% !important;
    z-index: 200 !important;
    background-color:rgb(126,211,33);
    border-radius:50%;
    font-size: 35px;
    border: 10px solid rgb(126, 211, 33);
}

div.downcircle i.small.material-icons{
    position: absolute !important;
    top: 135 !important;
    right: 10% !important;
    z-index: 200 !important;
    background-color:rgb(126,211,33);
    border-radius:50%;
    font-size: 18px;
    border: 10px solid rgb(126, 211, 33);
}

/*// -- end*/
.unsub_btn{
    border-radius: 20px !important;
    background-color:rgb(208,2,27);
    color:#FFFFFF !important;
    height:40px !important;
    font-size: 14px !important;
    letter-spacing: 0px !important;
    border: inherit;
    width: 300px;
    font-weight: bold;
    margin-top: 20px;
}

.subscriptiontable{
    font-size:12px;
}
table.subscriptiontable tbody tr td{
    padding: 5px !important;
}
table.subscriptiontable tbody tr td:nth-child(1){
    float: right !important;
    padding: 10px 0px 10px 20px !important;
}
.unsub_confirm{
    background-color:rgb(126,211,33); 
    color:#FFFFFF !important;
    height:50px !important;
    font-size: 14px !important;
    letter-spacing: 0px !important;
    border: inherit;
    width: 100%;
    font-weight: bold;
}

.side-nav li > a > i.material-icons{
    float: none !important;
}

.nav_table,.nav_table tr,.nav_table tr td{
    padding:inherit !important;
    margin: inherit !important;
}
.nav_table tr{
    height: inherit !important;
    line-height: -10 !important;
}
.nav_table tr td{
    height: inherit !important;
    line-height: -10 !important;
}
.download_list {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.download_list_span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
}
.dw_content_table,.dw_content_table tr,.dw_content_table td{
    height:100% !important; width:100% !important; padding: 4px 0px !important;
}

.download_container
{
    margin: 10px;
    background-color: rgb(250,250,250);
}
/*//---- Read more*/

.read-more-trigger {
    border: 1px solid red !important;
    border-radius: 0.25em;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    line-height: 2;
    padding: 0 0.5em;
}

.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Read less';
}

.cat_head{
    padding: 10px !important;
    font-size: 14px !important;
    font-weight: bold !important;
}
.custom_image
{
    width:100%;
    height:auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.unsub_btn{
    border-radius: 20px !important;
    background-color:rgb(208,2,27);
    color:#FFFFFF !important;
    height:40px !important;
    font-size: 14px !important;
    letter-spacing: 0px !important;
    border: inherit;
    width: 300px;
    font-weight: bold;
    margin-top: 20px;
}

.wifihead {
    font-size: 16px;
    font-weight: bold;
}

.wifitext2 {
    font-size: 14px;
    margin: 10px 0;
    padding: 0 30px;
}

.unsub_bottom {
    background: #eaeaea none repeat scroll 0 0;
    margin-top: 20px;
    padding: 10px;
    border:1px solid #fff;
}


/*Feedback form*/

.unsub_head{
    margin: 0 auto;
    border: #303030;
    background-color: #ffffff;
}
.unsub_body{
    background-color: -moz-ButtonHoverFace;
}
.unsub_title{
    text-align: center;
    font-size: 16px;
    font-family: monospace;
    margin: 0;
    padding-top: 10px;
}

.unsub_caption{
    text-align: center;
    font-style: normal;
    font-family: monospace;
}
.with-gap[type="radio"]:checked + label{
    font-weight: bold;
}

.unsub_button
{
    border-radius: 20px !important;
    background-color:rgb(126,211,33);
    color:#FFFFFF !important;
    height:40px !important;
    font-size: 14px !important;
    letter-spacing: 0px !important;
    border: inherit;
    width: 300px;
    margin-bottom: 10px;
    font-weight: bold;
}
.unsub_button:hover{
    background-color: rgb(126,211,33);
    text-transform: inherit;
    text-align: center;
    font-size: 14px !important;
}

.hide_textarea{
    display: none;
}

.unsubAccount{
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ff0000;
    border-radius: 20px;
    color: #ff0000;
    height: 35px;
    margin: 10px;
    text-align: center;
    text-shadow: none;
    width: 80%;
}

.unsubAccountContent{
    margin: 10%;
    text-align: justify;
}
a {
    color: #000;
}
.btn{
box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12);
}

